$blue-42c: #42c0cc;

$gray-e7e: #e7e7e7;
$gray-f5f: #f5f5f5;
$gray-f8f: #f8f8f8;
$gray-999: #999999;
$gray-eee: #eeeeee;

$white-fff: #ffffff;

$black-222: #222222;

$yellow-fed: #fed614;

$pink-f7d: #f7d6e9;
$pink-f25: #f2599c;
